.filter-modal {
    .ant-modal-header{
        background-color: #638773;
        padding: 10px 25px;
        margin: 0;

        .ant-modal-title{
            color: #d5ebde;
        }
    }
    .ant-modal-content{
        padding: 0;
    }
    .ant-modal-close{
        display: none;
    }
    .ant-modal-body{
        .filter-layout{
            display: flex;
            .filter-sidebar {
                width: 30%;
                border-right: 1px solid #638773;
                padding: 16px;
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
            
                    li {
                    padding: 12px;
                    cursor: pointer;
                    font-weight: bold;
                    border-radius: 4px;
                    color: #587c68;
                    transition: background-color 0.3s ease;
            
                    &.active {
                        background-color: #ebe0d5;
                        color: #587c68;
                        border-bottom: 1px solid #587c68;
                    }
            
                    &:hover {
                        background-color: #ebe0d5;
                    }
                    }
                }
            }
            .filter-content {
                flex: 1;
                padding: 16px;
                label{
                    font-weight: bold;
                    color: #638773;
                }
                input{
                    margin-top: 6px;
                    padding: 10px;
                    font-size: 14px;
                    &:hover{
                    border-color: #e69c52 !important;
                    }
                    &.active{
                    border-color: #e69c52 !important;
                    }
                }
                .nova-class-checkboxes {
                    padding: 10px;
                    display: flex;
                    flex-direction: column; 
                    gap: 12px; 
            
                    .nova-checkbox-item {
                      display: flex;
                      align-items: center;
            
                      .ant-checkbox-wrapper {
                        font-size: 6px;
                      }
                    }
                }
            }
            border-bottom: 1px solid #638773;
        }
    }
    .filter-actions {
        display: flex;
        justify-content: space-around;
        padding: 8px 10px;

        .btn {
            &:hover {
                background-color: #587c68;
                border: #587c68;
            }
        }
        button {
            font-size: 14px;
            padding: 8px 20px;
            background-color: #638773;
            min-width: 100px;
            text-align: center;
            span{
                color: #d5ebde;
            }
        }
    }
  }
  